body {
  margin: 0;
  padding: 0;
  background: #003f60;
  background-size: 43.75em;
  background-position: center;
  background-blend-mode: normal;
}

.link:hover {
  color: black;
} /* CSS link color */
.link {
  color: white;
} /* CSS link color */
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 12px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: contents;
  align-content: left;
  align-self: left;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 130px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.upperbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mail {
  background-color: #2980b9;
  color: aliceblue;
  padding: 10px;
  border-radius: 5px;
}
.timing {
  background-color: #acbfcc;
  color: black;
  padding: 10px;
  border-radius: 5px;
}
.mail:hover {
  color: black;
  cursor: pointer;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  margin-top: 10px;
}
.descp {
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-width: 3px;
}
.navbar {
  background-color: white;
  align-items: center;
  padding-left: 3px;
  border-width: 15px;
  display: flex;
  padding: 20px;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin-left: 240px;
  border: 25px solid #003f60 ;
  
}

.navbar ul li {
  text-decoration:wavy;
  padding: 2px;
 

  
}
.navbar ul li a {
  color: white;
  padding: 40px;
}


.navbar ul li a:hover {
  cursor: pointer;
  color: rgb(148, 228, 253);
  text-decoration: underline;
}

button {
  padding: 0.8em 1.8em;
  border: 2px solid#6e60ef;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #6e60ef;
  border-radius: 5px;
}

button:hover::before {
  width: 105%;
}

button:hover {
  color: #111;
}
.body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #003f60;
  width: 400px;
  margin-top: 20px;
  border-radius: 10px;
  flex-direction: column;
  padding: 25px;
}
.logo img {
  height: 400px;
  margin-right: 400px;
}
.title {
  color: white;
  margin-left: 5px;

  font-size: large;
}
.text {
  color: white;
  margin-left: 20px;
}
.sura img{
 
  width: 50%;
}
.menu-icon{
  display: none;
  cursor: pointer;
  width: 25px;
}
.explore{
  width: 50%;
  padding: 2px 5px ;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  outline: none;
  border-radius: 20px;
  position: relative;
  margin-right: 500px;
}
.explore2{
  width: 85%;
  padding: 5px 20px ;
  cursor: pointer;
  display: block;
  margin: auto;
  color: white;
 
  background: linear-gradient(to right, red, #ffad06);
  border: 0;
  outline: none;
  border-radius: 20px;
  position: relative;
}
@media only screen and (max-width:500px) {
  header {
    flex-direction:row-reverse;
    
    flex-wrap: wrap;
   
  }
  .menu-icon{
    display: block;
    

  }
  .navbar ul li a {
    color: white;
    padding: 0px;
  }
  

  .descp{
    flex-direction: column;
    width:fit-content;
  }
  
  
  .navbar ul{
    background: linear-gradient(#003f60,#003f60);
    width: 100%;
    
    position: absolute;
    flex-direction:row;
    margin-left: 0px;
  border: 0px;
    
   
    
    
  }
  .navbar ul li{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
    height: 100%;
  
   
    
   
    
    
  }
  .home{
    color: black;
    
  }
  #menuList{
    overflow: hidden;
    transition: 0.1s;
  }
  
  
  
  
  .body {
    flex-direction: column-reverse;
  }
  .text {
    width: 200px;
    padding-left: 50px;
  }
  .logo img {
    height: 300px;
    padding-left: 50px;
    flex-wrap: nowrap;
  
  }
  .sura img{
    width: 250px;
  

  }
  .welcome{
    flex-wrap: nowrap;
  }


.explore{
  width: 85%;
  padding: 5px 20px ;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  outline: none;
  border-radius: 20px;
  position: relative;
}
.explore2{
  width: 85%;
  padding: 5px 20px ;
  cursor: pointer;
  display: block;
  margin: auto;
 
  background: linear-gradient(to right, red, #ffad06);
  border: 0;
  outline: none;
  border-radius: 20px;
  position: relative;
}
th, td {
  border: 1px solid black;
  
}
.action i {
  
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  cursor: pointer;
  
  
}
.action {
  position:relativez;
  background: rgb(255, 0, 128);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 5px 7px 0px gray;
  transition: background-color 0.4s ease-in-out;
}
}
* {
  padding: 0;
  margin: 0;
}

.fabs {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.action {
  background: rgb(255, 0, 128);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 5px 7px 0px gray;
  transition: background-color 0.4s ease-in-out;
}

.action i {
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  cursor: pointer;
}

.action:hover {
  background-color: rgb(255, 103, 179);
}

.btn {
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.btn i {
  position: absolute;
  font-size: 18px;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btns {
  position: absolute;
  bottom: 0px;
  margin-bottom: 5px;
  height: 35px;
  width: 35px;
  transition: 0.3s ease-in-out;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.btns.open {
  bottom: 50px;
}



