body {
  margin: 0;
  padding: 0;
  background: #003f60;
  background-size: 43.75em;
  background-position: center;
  background-blend-mode: normal;
}

.link:hover {
  color: black;
} /* CSS link color */
.link {
  color: white;
} /* CSS link color */
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 12px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: contents;
  align-content: left;
  align-self: left;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 130px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.upperbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mail {
  background-color: #2980b9;
  color: aliceblue;
  padding: 10px;
  border-radius: 5px;
}
.timing {
  background-color: #acbfcc;
  color: black;
  padding: 10px;
  border-radius: 5px;
}
.mail:hover {
  color: black;
  cursor: pointer;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  margin-top: 10px;
}
.descp {
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-width: 3px;
}
.navbar {
  background-color: white;
  
  display: flex;
  padding: 10px;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.navbar ul li {
  text-decoration: none;
  padding: 5px;
}
.navbar ul li a {
  color: white;
}

.navbar ul li a:hover {
  cursor: pointer;
  color: rgb(148, 228, 253);
  text-decoration: underline;
}

button {
  padding: 0.8em 1.8em;
  border: 2px solid#6e60ef;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #6e60ef;
  border-radius: 5px;
}

button:hover::before {
  width: 105%;
}

button:hover {
  color: #111;
}
.body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #003f60;
  width: 400px;
  margin-top: 20px;
  border-radius: 10px;
  flex-direction: column;
  padding: 25px;
}
.logo img {
  height: 400px;
}
.title {
  color: white;
  margin-left: 5px;

  font-size: large;
}
.text {
  color: white;
  margin-left: 20px;
}

@media (max-width: 650px) {
  header {
    flex-direction: column;
  }
  .navbar {
    margin-top: 10px;
  }
  .body {
    flex-direction: column-reverse;
  }
  .text {
    width: 200px;
    padding-left: 50px;
  }
  .logo img {
    height: 300px;
    padding-left: 50px;
  }
}
